[parity]
chain = "{{ poa_network_spec }}"
base_path = "{{ item.base_path }}"
[network]
port = {{ item.network_port }}
[rpc]
port = {{ item.rpc_port }}
apis = ["web3", "eth", "net", "personal", "parity", "parity_set", "traces", "rpc", "parity_accounts"]
[ui]
port = {{ item.ui_port }}
[websockets]
port = {{ item.websockets_port }}
{% if item.name != "node0" %}
[ipc]
disable = true
{% endif %}
{% if item.address %}
[account]
password = ["{{ poa_node_password_file }}"]
[mining]
engine_signer = "{{ item.address }}"
reseal_on_txs = "none"
{% endif %}
