[Unit]
Description=parity node %i
Documentation=https://wiki.parity.io/

[Service]
ExecStart=/usr/local/bin/parity --config {{ poa_network_dir }}/%i.toml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
