[Unit]
Description=Ethereum Network Stats
Documentation=https://github.com/cubedro/eth-netstats

[Service]
Environment=WS_SECRET={{ ethstats_password }}
WorkingDirectory={{ ethstats_build_dir }}
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
